/* #main_div_alumni h3 {
    color: #F15D2F;
    margin-top: 5px;
}

#main_div_alumni div{
    margin-left: 15px;
}

#main_div_alumni a {
    margin-left: 0px;
}

#main_div_alumni li {
    list-style: none;
}

#main_div_alumni {
    margin: 5px;
    margin-bottom: 30px;
}

.ulNoIndent {
    padding-left: 0px;
} */

#main_div_alumni h3 {
    color: #F15D2F;
    margin-top: 5px;
}

#main_div_alumni div{
    /* margin-left: 15px; */
}

#main_div_alumni a {
    /* margin-left: 15px; */
}

#main_div_alumni li {
    
}

.noListStyle {
    list-style: none;
}

.ulNoIndent {
    padding-left: 0px;
} 

#main_div_alumni ul {
    
}

#main_div_alumni {
    margin: 0 auto;

    /* margin-right: 150px; 
    margin-left: 150px; */
    width: 75%;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right: 0px;
}

.iframeSpecial {
    border: none;
    overflow:hidden;
}
