@import url(http://fonts.googleapis.com/css?family=Quicksand);

main {
    background-image: url(/img/lightpaperfibers.png);
    background-repeat: repeat;
}

/* Global stuff */
html {
	font-family: 'Quicksand', sans-serif;
}

body {
	margin: 0;
	background-color: #F0F0E6;
}

header > *, main > *, footer > * {
	max-width: 2000px;
	width: 80%;
	margin: auto;
}

/* Navigation Bar */
.navigation {
	display: flex;
}
	
	.navigation .dropdown > a, .navigation > a {
		display: block;
		text-align: center;
	}
	.navigation a.active{
		text-decoration: underline;;
	}
.topNavSearchBar {
    margin-left:100px;
}

.userProfileButton {
    margin-top: 10px;
}
/* Dropdown menus */
.dropdown {
	
}
.dropdown:hover > .menu {
	display: flex;
}

.dropdown:hover > a {
	text-decoration: underline;
	color: orange;
}

.menu {
	position: absolute;
	display: none;
	background-color: white;
	padding: 0.3em 0.7em 0.3em 0.7em;
	box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.35);
	z-index: 2;
}
	.menu h6 {
		margin: 0.3em 0 0.3em 0.5em;
	}
	.menu a {
		display: block;
		padding: 0.5em;
	}
	.menu a, .menu a:link, .menu a:visited {
		color: black;
	}
	.menu a:hover {
		text-decoration: underline;
	}

/* Header */
header {
	padding-top: 1em;
	background: linear-gradient(to bottom, #7d0101 0%, #651110 100%);
    border-top: 1px solid #7d0101;
    border-bottom: 1px solid #651110;
}

header * {
 background: none;
}
	header a:link, header a:visited {
		color: white;
		text-decoration: none;
	}
	header a:hover {
		color: orange;
	}

/* Top Header */
.header-top {
	padding-bottom: 0.5em;
	font-size: 0.9em;
	
	display: flex;
}
	.header-top .top-nav {
		flex: 1;
		display: flex;
		justify-content: space-between;
	}
	.header-top .secondary-nav .dropdown > a, .header-top .secondary-nav > a {
		padding: 0em 1.5em 0em 0em;
	}
	.header-top .secondary-nav {
		margin-left: 1em;
	}

.logo {
	width: 20em;
	height: auto;
	vertical-align: text-top
}

.quicklinks {
	float: right;
	display: flex;
}
	.quicklinks a {
		margin-right: 1em;
	}

/* Bottom Header */
.header-bottom {
	display: flex;
	justify-content: space-between;
	
	font-size: 1.2em;
    margin-bottom: 5px;
}
	.header-bottom .topic-nav .dropdown > a {
	/*
		padding: 0.5em 0em 0.5em 0em;
		width: 8em;
		text-align: center;
		*/
	}
	.header-bottom .user-nav {
		padding-top: 0.8em;
		font-size: 0.8em;
	}
	.header-bottom .user-nav a {
		padding-left: 1.5em;
	}

.topic-nav {
	font-weight: 500;
}

.topic-nav > * {
	padding: 0.5em 1.5em 0em 0em;
}

.topic-nav .dropdown > a, .topic-nav > a {
	margin-bottom: 0.5em;
}

/* Breadcrumb */
.breadcrumb a {
	text-decoration: none;
	font-weight: bold;
}
.breadcrumb a:link, .breadcrumb a:visited {
	color: black;
}
.breadcrumb a:hover {
	color: purple;
}

main a:hover {
	color: purple;
}

/* Footer */
/*
footer {
	background-color: #333333;
	color: white;
	overflow: auto;
}
	footer a:link, footer a:visited {
		color: white;
		text-decoration: none;
	}
	footer a:hover {
		color: orange;
	}
*/

#footer
{
	background-color: #282828;
	
	color:#FFFFF5;
	font-family: verdana;
	font-size: 14px;
    left: 0;
    bottom: 0;
    height: 180px;
    width: 100%;
	z-index: 1;
}

#footer .social
{
	width: 30px;
    margin: 5px;
	margin-bottom: 2.5%;
	margin-left:40%;
}

.footerSocialSection {
    margin-top: 15px;
}

.footerSocialSection .social_media_icon{
    margin-bottom: 5px;
}
.footerSection img
{
    width: 40px;
    height: 40px;
/*
	width:26.5%;
	margin-left: 37%;
*/
}

.footerLogo img{
    width: 100%;
    height: 100%;
}

#footer ul
{
	list-style: none;
}

#footer a
{
	color: #FFFFF5;
	font-size: 14px;
}

.footerSection
{
	border-right: solid #FFFFF5 1px;
	height:160px;
}

.index {
	display: flex;
	justify-content: space-around;
}
	.index-group {
		flex: 1 0 auto;
	}
	.index-group h2 {
		margin: 0.3em 0 0.3em 0;
	}
