article h1 {
	font-size: 2em;
}

article > p {
	font-size: 1.6em;
}

.facts h2 {
	margin-top: 0;
}

.content {
	display: flex;
	justify-content: space-between;
}

.choice {
	display: flex;
	margin-bottom: 2em;
}
	.choice .text {
		margin-left: 1em;
		flex: 0 1 30em;
		
	}
	.choice .pic {
		flex: 0 1 200px;
	}
	.choice img {
		width: 100%;
		height: auto;
	}
	.choice h2 {
		margin: 0em 0 0.5em 0;
	}
	.choice a:link, .choice a:visited {
		text-decoration: none;
		color: black;
	}
	.choice a:hover {
		text-decoration: underline;
		color: purple;
	}

.right {
	flex: 0 0 500px;
	margin-left: 2em;
}
	.right img {
		width: 100%;
		height: auto;
	}
