/* Carousel */
.carousel {
	position: relative;
	width: 100%
}
	.carousel img {
		width: 100%;
		height: auto;
	}
	.carousel .thing {
		position: absolute;
		bottom: 6em;
		left: 12em;
		
		background-color: #6C8936;
		background-color: rgba(108, 137, 54, 0.9);
		width: 20em;
		height: 8em;
		z-index: 1;
		padding: 1em;
		color: white;
	}
	.carousel .thing h1 a:link, .carousel .thing h1 a:visited {
		color: white;
		text-decoration: none;
	}
	.carousel .thing h1 a:hover {
		color: purple;
		text-decoration: underline;
	}

/* News */
.news {
	overflow: auto;
}
	.news > h1 {
		margin: 0.5em 0 0 0;
	}

.news h1 a:link, .news h1 a:visited {
	color: black;
	text-decoration: none;
}

.news h1 a:hover {
	color: purple;
	text-decoration: underline;
}

.news a:link, .news a:visited {
		text-decoration: none;
		color: black;
	}
	.news a:hover {
		text-decoration: underline;
		color: purple;
	}

.stories {
	display: flex;
	justify-content: space-between;
}
	.stories > * {
		width: 16em;
	}

.story {
}
	.story img {
		width: 100%;
		height: auto;
	}
	.story h3 {
		padding: 0.5em 0 0.5em 0;
	}

.more-news {
}
	.more-news h3 {
		margin-top: 0;
		font-size: 1.3em;
	}
	.more-news ul {
		margin: 0;
		padding-left: 0.5em;
		list-style-type: none;
	}
	.more-news li {
		margin: 0 0 0.5em 0;
		font-size: 1em;
	}
	.more-news ul li:before {
		content: "> ";
	}
	.more-news a:link, .more-news a:visited {
		text-decoration: none;
		color: black;
	}
	.more-news a:hover {
		text-decoration: underline;
		color: purple;
	}

/* Events */
.events {
	
}