/*!CK:3512389015!*//*1418019432,*/

._4z-s div{color:#4e5665}
.sp_gTlIMMtbro4{background-image:url(/rsrc.php/v2/yd/r/EBnBTO_n44h.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:14px;width:14px}.sp_gTlIMMtbro4.sx_035332{width:12px;background-position:0 -15px}.sp_gTlIMMtbro4.sx_de50d2{background-position:0 0}

#bootloader_mZIrW { height: 42px; }
.bootloader_mZIrW { display:block !important; }